@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
.container{
  /* margin: 2vh 37vw; */
  margin: 0% 2%;
  height: 96vh;
  box-shadow: 0px 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width:375px) {
  .container{
  margin: 2vh;
}
}